.bar {
    border-radius: 5px 5px 0 0;
    width: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

.text {
    text-align: center;
    transform: rotate(-90deg);
    outline: none;
}

.quantityButton {
    user-select: none;
    text-align: center;
    background: #345;
    margin: 1px;
    cursor: pointer;
}

.quantityButton:hover {
    opacity: 0.5;
}

.elementInputs {
    margin: 0;
    color: aliceblue;
}

/*input[type='number']::-webkit-inner-spin-button,*/
/*input[type='number']::-webkit-outer-spin-button {*/
/*    -webkit-appearance: none;*/
/*    margin: 0;*/
/*}*/

/*input[type='number'] {*/
/*    -moz-appearance: textfield;*/
/*    color: aliceblue;*/
/*}*/